@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NHassGroteskDSPro';
     src: url('../assets/neue-haas-grotesk/NHaasGroteskDSPro-45Lt.otf');
      
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NHassGroteskDSPro';
     src: url('../assets/neue-haas-grotesk/NHaasGroteskDSPro-55Rg.otf');
      
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NHassGroteskDSPro';
     src: url('../assets/neue-haas-grotesk/NHaasGroteskTXPro-75Bd.otf');
      
    font-weight: 600;
    font-style: normal;
}
