.container {
  padding: 0;
  margin: 0;
  z-index: -11;
}

.main {
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #fff;
}

/* HomePage Css */

.text{
  font-family: 'NHassGroteskDSPro';
  font-weight: 400;
}

.heroText{
  font-family: 'NHassGroteskDSPro';
  font-weight: 600;
}

.midText{
  font-family: 'NHassGroteskDSPro';
}

 

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
